fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy>=2.0
cloud-sql-python-connector[pg8000]
pg8000
google-cloud-secret-manager
psycopg2-binary==2.9.9

# 認証・JWT
passlib[bcrypt]==1.7.4
PyJWT==2.10.1

# FastAPI / Pydantic 周り
email-validator>=2.1.0